 <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container"><a href="https://www.in28minutes.com" class="navbar-brand">in28minutes</a>
            
            <ul class="navbar-nav">
                @if(hardcodedAuthenticationService.isUserLoggedin())
                {
                <li><a routerLink="/welcome/in28minutes" class="nav-link">Home</a></li>
                <li><a routerLink="/todos" class="nav-link">ToDos</a></li>
                }
            </ul>
    
            <ul class="navbar-nav">
                @if(!hardcodedAuthenticationService.isUserLoggedin()){
                <li><a routerLink="/login" class="nav-link">Login</a></li>}
                @if(hardcodedAuthenticationService.isUserLoggedin()){
                <li><a routerLink="/logout" class="nav-link">Logout</a></li>}
    
            </ul>
        
        </div>
        
     
         
      
        
    </nav>
</header> 
 
